# /etc/systemd/system/lt-docker-app.service

[Unit]
Description=Lets Talk Docker Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/ardent/LetsTalk/projects/devdocker
ExecStart=/usr/bin/docker-compose up -d
ExecStop=/usr/bin/docker-compose down
TimeoutStartSec=0
User=ardent

[Install]
WantedBy=multi-user.target
